<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        {{>header}}
        <img src="/img/photo_2020-10-24 16.14.02.jpeg" alt="myPhoto">
        <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>
</html>