body {
    font-family: arial;
    font-size: 16px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
}

a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    color: grey;
}

img {
    width: 250px;
}

form {
    margin-top: 20px;
}

.container {
    flex-grow: 1;
}

.header {
    margin-bottom: 16px;
}

.footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}